In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [273]:
df = pd.read_csv('C:/Users/shubh/Desktop/50_Startups.csv')
df.columns
df.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.197824         0.669662  0.977709
Administration    0.197824        1.000000        -0.130478  0.137055
Marketing Spend   0.669662       -0.130478         1.000000  0.693929
Profit            0.977709        0.137055         0.693929  1.000000

In [66]:
for i in range(0,5):
 if(i != 3 ):
  df.iloc[:,i] =(df.iloc[:,i]-df.iloc[:,i].mean())/(df.iloc[:,i].var())**0.5

In [106]:
df.corr()
#df.iloc[:,0] =(df.iloc[:,0]-df.iloc[:,0].mean())/(df.iloc[:,0].var())**0.5

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.197824         0.669662  0.977709
Administration    0.197824        1.000000        -0.130478  0.137055
Marketing Spend   0.669662       -0.130478         1.000000  0.693929
Profit            0.977709        0.137055         0.693929  1.000000

In [244]:
#converting into orthogonal basis
dff = []
i = 0
while i <3:
    b = []
    b = df.iloc[:,i].values
    dff.append(b)
    i+=1
orth = dff
len(dff)
for i in range(0, len(dff)):
     
     for j in range(0 , i):
        c = [0]*47
        c = c + orth[j]*np.dot(orth[j],orth[i])/np.dot(orth[j],orth[j])
        orth[i] = orth[i] - c
orth = np.array(orth)    
for i in range(0, len(orth)):
   orth[i] = orth[i]/(np.dot(orth[i],orth[i]))**0.5 # changing orthogonal unit basis vectors
da = pd.DataFrame(orth.T)
round(da.corr(),16)

     0    1    2
0  1.0  0.0 -0.0
1  0.0  1.0 -0.0
2 -0.0 -0.0  1.0

In [275]:
arr = []
for i in range(0,3):
    ar = [0]*47
    for j in range(0,3):
        ar = ar + orth[i]*np.dot(orth[i],dff[j])
    arr.append(ar)
arr = np.array(arr)
arr1 = pd.DataFrame(arr.T)
arr1['profits'] = df.iloc[:,4]
round(arr1.corr() ,10)

                0         1         2   profits
0        1.000000  0.000000  0.000000  0.977709
1        0.000000  1.000000 -0.000000 -0.057496
2        0.000000 -0.000000  1.000000  0.034325
profits  0.977709 -0.057496  0.034325  1.000000